Repository ut-issl/s2e-core, pull requests merged in 2023-11, with the labels that each got.

#529 Add ObserveGroundPositionDeviation Function
  data/sample/initialize_files/sample_satellite.ini
  scripts/Plot/plot_ground_position.py
  src/components/real/mission/telescope.cpp
  src/components/real/mission/telescope.hpp
  src/simulation_sample/spacecraft/sample_components.cpp
  src/simulation_sample/spacecraft/sample_components.hpp
Labels: priority::medium, minor update

#539 Add warning message for TLE epoch
  data/sample/initialize_files/sample_simulation_base.ini
  src/dynamics/orbit/sgp4_orbit_propagation.cpp
Labels: priority::medium, gui, dynamics, minor update

#536 Add GPS clock offset log output and plot script
  scripts/Plot/plot_gnss_satellites.py
  src/environment/global/gnss_satellites.cpp
Labels: priority::medium, environment, minor update

#540 Add ideal attitude observers
  data/sample/initialize_files/components/angular_velocity_observer.ini
  data/sample/initialize_files/components/attitude_observer.ini
  data/sample/initialize_files/sample_satellite.ini
  scripts/Plot/plot_angular_velocity_observer.py
  scripts/Plot/plot_attitude_observer.py
  src/components/CMakeLists.txt
  src/components/base/sensor_template_functions.hpp
  src/components/ideal/angular_velocity_observer.cpp
  src/components/ideal/angular_velocity_observer.hpp
  src/components/ideal/attitude_observer.cpp
  src/components/ideal/attitude_observer.hpp
  src/simulation_sample/spacecraft/sample_components.cpp
  src/simulation_sample/spacecraft/sample_components.hpp
Labels: priority::medium, component, minor update

#541 Add low altitude warning messages
  src/dynamics/orbit/orbit.cpp
  src/environment/local/solar_radiation_pressure_environment.cpp
Labels: priority::medium, gui, dynamics, environment, minor update

#535 Add orbit interpolation
  src/library/CMakeLists.txt
  src/library/math/interpolation.cpp
  src/library/math/interpolation.hpp
  src/library/math/test_interpolation.cpp
  src/library/orbit/interpolation_orbit.cpp
  src/library/orbit/interpolation_orbit.hpp
  src/library/orbit/test_interpolation_orbit.cpp
Labels: priority::medium, library, minor update

#543 Add ANTEX read library
  CMakeLists.txt
  src/library/CMakeLists.txt
  src/library/gnss/antex_file_reader.cpp
  src/library/gnss/antex_file_reader.hpp
  src/library/gnss/example.atx
  src/library/gnss/test_antex_file_reader.cpp
Labels: library, minor update

#546 Merge develop to main for Minor update v7.1.0
  .github/workflows/google-test.yml
  .github/workflows/validate-renovate.yml
  CMakeLists.txt
  data/sample/initialize_files/components/angular_velocity_observer.ini
  data/sample/initialize_files/components/attitude_observer.ini
  data/sample/initialize_files/sample_gnss.ini
  data/sample/initialize_files/sample_local_environment.ini
  data/sample/initialize_files/sample_satellite.ini
  data/sample/initialize_files/sample_simulation_base.ini
  scripts/Plot/plot_angular_velocity_observer.py
  scripts/Plot/plot_attitude_observer.py
  scripts/Plot/plot_gnss_satellites.py
  scripts/Plot/plot_ground_position.py
  src/components/CMakeLists.txt
  src/components/base/sensor_template_functions.hpp
  src/components/ideal/angular_velocity_observer.cpp
  src/components/ideal/angular_velocity_observer.hpp
  src/components/ideal/attitude_observer.cpp
  src/components/ideal/attitude_observer.hpp
  src/components/real/aocs/gnss_receiver.cpp
  src/components/real/mission/telescope.cpp
  src/components/real/mission/telescope.hpp
  src/dynamics/orbit/orbit.cpp
  src/dynamics/orbit/sgp4_orbit_propagation.cpp
  src/environment/global/global_environment.cpp
  src/environment/global/gnss_satellites.cpp
  src/environment/global/gnss_satellites.hpp
  src/environment/global/initialize_gnss_satellites.cpp
  src/environment/local/solar_radiation_pressure_environment.cpp
  src/environment/local/solar_radiation_pressure_environment.hpp
  src/library/CMakeLists.txt
  src/library/gnss/antex_file_reader.cpp
  src/library/gnss/antex_file_reader.hpp
  src/library/gnss/example.atx
  src/library/gnss/example.sp3
  src/library/gnss/gnss_satellite_number.cpp
  src/library/gnss/gnss_satellite_number.hpp
  src/library/gnss/sp3_file_reader.cpp
  src/library/gnss/sp3_file_reader.hpp
  src/library/gnss/test_antex_file_reader.cpp
  src/library/gnss/test_gnss_satellite_number.cpp
  src/library/gnss/test_sp3_file_reader.cpp
  src/library/initialize/c2a_command_database.hpp
  src/library/math/interpolation.cpp
  src/library/math/interpolation.hpp
  src/library/math/test_interpolation.cpp
  src/library/orbit/interpolation_orbit.cpp
  src/library/orbit/interpolation_orbit.hpp
  src/library/orbit/test_interpolation_orbit.cpp
  src/library/time_system/date_time_format.cpp
  src/library/time_system/date_time_format.hpp
  src/library/time_system/gps_time.hpp
  src/library/time_system/test_date_time_format.cpp
  src/library/time_system/test_gps_time.cpp
  src/simulation_sample/spacecraft/sample_components.cpp
  src/simulation_sample/spacecraft/sample_components.hpp
Labels: priority::medium, minor update
