Repository ut-issl/s2e-core, pull requests merged in 2024-09, with the labels that each got.

#698 Fix errror in nrlmsise library download script
  CMakeLists.txt
  ExtLibraries/nrlmsise00/CMakeLists.txt
Labels: priority::high, patch

#699 Main merge to develop for hotfix
  CMakeLists.txt
  ExtLibraries/nrlmsise00/CMakeLists.txt
Labels: priority::high, patch

#688 Add earth albedo effect for thermal calculation
  settings/sample_satellite/local_environment.ini
  src/dynamics/dynamics.cpp
  src/dynamics/thermal/heater.hpp
  src/dynamics/thermal/heater_controller.hpp
  src/dynamics/thermal/heatload.cpp
  src/dynamics/thermal/heatload.hpp
  src/dynamics/thermal/node.cpp
  src/dynamics/thermal/node.hpp
  src/dynamics/thermal/temperature.cpp
  src/dynamics/thermal/temperature.hpp
  src/environment/local/CMakeLists.txt
  src/environment/local/earth_albedo.cpp
  src/environment/local/earth_albedo.hpp
  src/environment/local/local_environment.cpp
  src/environment/local/local_environment.hpp
Labels: priority::medium, dynamics, environment, major update

#692 Add orbit interpolation method as an Orbit calculation feature
  settings/sample_satellite/orbit_files/time_series_orbit.csv
  settings/sample_satellite/satellite.ini
  src/dynamics/CMakeLists.txt
  src/dynamics/orbit/initialize_orbit.cpp
  src/dynamics/orbit/orbit.hpp
  src/dynamics/orbit/time_series_file_orbit_propagation.cpp
  src/dynamics/orbit/time_series_file_orbit_propagation.hpp
  src/math_physics/orbit/interpolation_orbit.cpp
  src/math_physics/orbit/interpolation_orbit.hpp
Labels: priority::medium, dynamics, minor update
